includes:
	- phpstan-baseline.neon

parameters:
	level: 1
	paths:
		- includes
		- tests/phpunit
	scanDirectories:
		- ../../includes
		- ../../tests/phpunit
		- ../../vendor
	ignoreErrors:
		- '#Constant [a-zA-Z0-9\\_]+ not found#'
