.da-specialinbox-compare-summary {
  padding: 10px;
  background-color: #eeeeee;
  margin-bottom: 20px;
  .da-compare-node-graph {
    margin: 0 10px 0 0;
  }
}

.da-compare-button-select-panel {
  padding: 10px;
  background-color: #eeeeee;
  margin: 20px 0 20px 0;
  .da-compare-button-select {
    width: 100%;
    .oo-ui-buttonOptionWidget {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }

}

.da-conflict-resolution {
  width: 100%;

  .da-conflict-resolution-title {
    margin-bottom: 10px;
    font-weight: bold;
  }
  #da-specialinbox-compare-diff {
    background-color: #eeeeee;
    padding: 20px;
    #da-diff {
      .da-conflict-resolution-buttons {
        position: absolute;
        right: 0;
        top: 0;
        .oo-ui-buttonElement-active {
          a span {
            text-decoration: underline;
          }
        }
      }
      >.da-diff-change {
        position: relative;
        padding: 35px 0 0 0;
        background-color: #f38993;
      }
      >.da-diff-delete,
      >.da-diff-add {
        position: relative;
        padding: 35px 5px 0 5px;
      }
      .da-diff-delete {
        margin: 0;
        background-color: #f38993;
      }
      .da-diff-add {
          margin: 0;
          background-color: #cbf5cb;
        }
      }
      .da-diff-resolved {
        border-right: 1px solid #ddd5d5;
        background-color: transparent !important;
        > p {
          background-color: transparent !important;
        }
      }
      .da-diff-resolved.da-diff-resolution-reject {
        text-decoration: line-through;
      }
      .da-diff-resolved.da-diff-resolution-local .da-diff-add {
          text-decoration: line-through;
      }
      .da-diff-resolved.da-diff-resolution-remote .da-diff-delete {
          text-decoration: line-through;
      }
      .da-diff-resolved.da-diff-resolution-neither {
        .da-diff-delete, .da-diff-add {
          text-decoration: line-through;
        }
      }
    }
    .empty-line {
      display: block;
      height: 14px;
    }
}

